/*这里负责黑导航栏相关*/
.navbar2 {  
    background-color: #17171745;
    overflow: hidden;  
    position: fixed; /* 固定顶部 */  
    top: 0;  
    width: 100%;  
    z-index: 114513; /* 臭 */  
    display: flex; /* 使用flex布局 */  
    align-items: center; /* 垂直居中对齐 */  
    padding: 0 50px;  
    height: 90px;       /*宽*/
    
}  
  
  
.navbar2-list {  /* 设置导航栏列表的样式 */
    display: flex;  
    justify-content: flex-start; /* 让列表项从左侧开始排列 */  
}  
  
/* 导航项间距 */  
.navbar2-item {  
    padding: 45px 30px; 
}  
  
/* 按钮 */  
.navbar2-item a {  
    color: white;  
    font-size: 18px;  
    display: block;  
    transition: background-color 0.5s, color 0.5s; /* 添加颜色过渡效果 */  
}  
  
/* 鼠标悬停条件 */  
.navbar2-item a:hover {  
    color: #ff6700;  
}  
  
main {  
    margin-top: 60px;  
    padding: 20px;  
}  
  
.navbar2-logo {  
    flex-shrink: 0; /* 防止logo在导航栏宽度不足时缩小 */  
    margin-right: 25px; /* logo和导航项间距 */  
}  
  
.navbar2-logo img {  
    height: 40px; /* logo图像大小调整 */  
    width: auto;  
}