/*这里负责黑导航栏相关*/
.nav {  
    overflow: hidden;  
    position: fixed; /* 固定顶部 */  
    top: 0;  
    width: 100%;  
    z-index: 114513; /* 臭 */  
    display: flex; /* 使用flex布局 */  
    align-items: center; /* 垂直居中对齐 */  
    padding: 0 50px;  
    height: 50px;       
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.5s, backdrop-filter 0.5s;
    backdrop-filter: blur(0px);
}  
  
nav a {  
    color: white;  
    text-decoration: none;  
}  

.nav-li { 
    display: flex;  
    justify-content: flex-start; /* 让列表项从左侧开始排列 */  
}  
  
                            /* 别翻啦导航项间距在这啊啊啊啊啊啊啊啊啊啊啊啊 */  
.nav-it-em {  
    padding: 25px; 
}  
  
/* 按钮 */  
.nav-it-em a {  
    color: rgb(0, 0, 0);  
    font-size: 18px;  
    display: block;  
    transition:color 0.3s; 
    font-size: 1.3em;  
}  
  
/* 鼠标悬停条件 */  
.nav-it-em a:hover {  
    color: #ffea29;  
}  
  
main {  
    margin-top: 60px;  
    padding: 20px;  
}  
  
.nav-logo {  
    flex-shrink: 0; /* 防止logo在导航栏宽度不足时缩小 */  
    margin-right: 25px; /* logo和导航项间距 */  
}  
  
.nav-logo img {  
    height: 40px; /* logo图像大小调整 */  
    width: auto;  
}