/*这里负责整体样式*/
/* mac_* æ ·å¼*/
/*å»¶æ—¶åŠ è½½*/
.banner1 {                                          /*这是开屏页        现在不需要了...*/
    background-image: url('../piuter//0.jpg');      /*背景图*/
    height: 800px;                                 /*高*/
    background-size: cover;                        /*自适应*/
    display: flex;                                 /*flex*/
    justify-content: center;                       /*水平居中*/
    align-items: center;                           /*垂直居中*/
    color: rgb(254, 152, 97);                    /*文字颜色*/
    font-size: 2em;                                /*2x*/
    position: relative;                            /*相对定位*/
  
}  

/* 重置一些默认样式 */  
ul, li, a {  
    margin: 0;  
    padding: 0;  
    list-style: none;  
    text-decoration: none;  
}  
body {  
    margin: 0;  
    padding: 0;  
    list-style: none;  
    text-decoration: none;  
    font-family: Arial, sans-serif;  
    box-sizing: border-box;
    background-image: url('');
    background-color: rgba(233, 233, 233, 0.5);
    cursor: url('../piuter/TB2LdUrj9tkpuFjy0FhXXXQzFXa_!!3037771681.png'), default;
}  
a:hover {
    cursor: url('../piuter/TB2paoVj3JlpuFjSspjXXcT.pXa_!!3037771681.png'), pointer;
}
red {
    color: red;
}
orange {
    color: orange;
}
/**--------------------------------------------------- é¼ æ ‡æ ·å¼ ç»“æŸ-----------------------------------------------------------**/
#sy-0 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
    transition: all 0.5s ease;
    z-index: 114515;
}
.sy-0-gg {
    display: block;
    background-color: white;
    height: 40vh;
    width: 40vw;
    border-radius: 19px;
    text-align: center;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.close-btn {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    font-size: 34px;
    cursor: pointer;
    background-color: rgb(255, 204, 0);
    user-select: none;
    &:hover{
        background-color: rgb(255, 204, 0);
        cursor: url('../piuter/TB2paoVj3JlpuFjSspjXXcT.pXa_!!3037771681.png'), pointer;
    }
}
.进度条 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 15px;
    background-color: orange;
    z-index: 114514;
    transition: all 0.3s;
    display: none; 
}
.backToTop {
    display: block; 
    position: fixed; 
    right: 0;
    bottom: 0;
    height: 300px;
    width: 200px;
    overflow: hidden;
    background-image: url('../piuter/置顶1.png');
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.5s ease; 
    &:hover {
        cursor: url('../piuter/TB2paoVj3JlpuFjSspjXXcT.pXa_!!3037771681.png'), pointer;
        background-image: url('../piuter/置顶2.png');
        
    }
}
/**--------------------------------------------------- é¼ æ ‡æ ·å¼ ç»“æŸ-----------------------------------------------------------**/
.sy-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100vw;  
    height: 100vh;
    background-image: url('../piuter/EAB870E57DB942DC540BFA3923F1ECCF.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}
.sy-1-p {
    display: block;
    position: relative;
    width: 500px;
    height: 200px; 
    overflow: hidden;
    z-index: 1;
    pointer-events: none;           /*别点我*/
    user-select: none;              /*别选我*/
}
.sy-1-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.sy-1-txt-1 {
    font-size: 2.3em;
    margin-top: 18%;
    color: transparent;
    -webkit-background-clip: text;                 /*这3个一起*/
    background-image: linear-gradient(to right, #ff2828, #ffde39,#a7fe7b,#7bfafe,#fe7bf3);
    background-clip: text;
}
.sy-1-txt-2 {
    font-size: 1.5em;
    margin-top: -30px;
    color: rgb(255, 222, 58);
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------*/
.sy-2 {
    display: flex;
    height: 345px;
    width: 70%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.sy-2-card1 {  
    /*display: flex;
    flex-shrink: 0;                       */
    display: block;
    background: white; 
    border-radius: 10px;  
    width: 210px;  
    text-align: center;  
    position: relative; 
    z-index: 3;  
    transition: all 0.5s ease; 
    color: #000;
    font-size: 1.2em;
    border: 1px solid;
    border-color: #8f8f8f5b;
    &:hover {
        color: white;
    }
   }  
.sy-2-card1-p {  
    height: 50%;
    width: 90%;  
    border-radius: 10px; 
    transition: all 0.5s ease; 
    background-color: #fe7bf3;
    z-index: 4;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
}  
.sy-2-card1-p:hover{  
    transform: scale(1.25);                         /*放大*/
    margin-bottom: 55px;
} 
.sy-2-card1::before {                                              /*填色  一个透明的伪*/
content: '';
position: absolute;
border-radius: 10px;
overflow: hidden;
top: 100%;
left: 0;
right: 0;
bottom: 0;
background-color: var(--main-color, rgba(0, 0, 0, 0));
pointer-events: none;
transition: top 0.5s ease, background-color 0.5s ease;
z-index: -1;  
}
.sy-2-card1:nth-child(1)::before {                                       /*触发伪*/
    --main-color: var(--p1-main-color);
}  
.sy-2-card1:hover::before {                                             /*给伪填充颜色*/
    top: 0;  
    background-color: var(--main-color, rgba(0, 0, 0, var(--hover-color-opacity))); 
}  
:root {                                                                                /*自定义颜色元素*/     
    --p1-main-color: rgba(0, 191, 255, 0.84);  
    --hover-color-opacity: 0.7;  
}  

.sy-2-card1>a {
    display: block;
    position: relative;
    margin: 0 auto;
    height: 40px;
    width: 60px;
    background-image: url('../piuter/bilibili.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 9.5%;
}
.sy-2-card1>a:hover {
    background-color: rgb(188, 188, 188);
    border-radius: 10px;
}
.sy-2-card2-大区域 {
    display: block;
    flex-direction: column;
    height: 100%;
    margin-left: 18px;
    z-index: 1;
    width: 950px;
}
.sy-2-card2-小区域 {
    display: flex;
    margin-left: auto;
    height: 47.5%;
    z-index: 1;
    width: 911px;
    gap: 20px;
}
.sy-2-card2-小区域补丁 {
    margin-top: 17.25px;
}
.sy-2-card2 {
    display: flex;
    background: white; 
    position: relative;
    border-radius: 10px;  
    height: 100%;
    width: 445px; 
    z-index: 5;  
    color: #000;
    font-size: 1.2em;
    transition: transform 0.5s ease,border-color 0.5s ease;
    border: 1px solid;
    border-color: #8f8f8f5b;
}
.sy-2-card2-p1 {  
    display: flex;
    height: 85%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    width: 180px;  
    border-radius: 10px;  
    z-index: 666;
    overflow: hidden;
}  
.sy-2-card2:hover {
    transform: scale(1.15);     /*放大倍数太大会暴露套容器导致的z轴问题...当需求出现问题时，砍掉需求就没有问题了👍*/
    border: 1px solid;
    border-color: orange;
    z-index: 7;
}
.sy-2-card2-p2 {  
    display: flex;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    width: 195px;  
    border-radius: 10px 0 0 10px;
    z-index: 666;
    overflow: hidden;
}  
.sy-2-card2 h3 {
    margin-top: 10px;
    margin-left: 15px;
}
.sy-2-card2-txt {                             /*后面会给两个文字区独立容器*/
    color: rgb(0, 0, 0,0.2);
    margin-top: 132px;
    margin-left: -90px;
}
@keyframes identifier {
    
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------------*/
.sy-3 {
    display: flex;
    height: 434px;
    width: 70%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
}
.sy-3-lb {
    display: flex;
    height: 100%;
    width: 100%;
}
.sy-3-lb-1 {
    overflow: hidden;
    transition: all 0.3s ease;
}
.sy-3-lb-2 {
    display: block;
    height: 100%;
    width: 33%;
    background-color: white;
}
.sy-3-lb-2-1 {
    background-image: url('../piuter/bilibili蓝.png');
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 200px;
}




















footer {              
    display: block;
    position: relative;
    background-color: rgb(255, 255, 255);  
    text-align: center;  
    top: 20px;
    border-radius: 10px 10px 0 0;
    position: relative;  
    bottom: 0;  
    width: 70%;  
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
}  
.footer-div {
    height: 180px;
    width: 180px;
    margin: 0 auto; 
    background-image: url('../piuter/杂鱼❤.png');
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
}
.footer-a {
    position: relative;
    display: inline-block;
    height: 19px;
    color: #0091ff;
    text-decoration: none;
    transition: color 0.3s;
    z-index: 1; 
}
.footer-a:hover {
    color: white;
}
.footer-a::before {                                 /*这伪不比b站那些搬运油管教程的干净*/
    content: '';
    position: absolute;
    top: 70%;
    left: -2.5px;
    right: 0;
    height: 10px; 
    width: 105%;
    background-color: #82dcff; 
    transition: all 0.3s ease;
    z-index: -1; 
}
.footer-a:hover::before {
    background-color: #49ccff;
    height: 20px;
    top: 15%;
}
  
